.games
    .container
        .title-games.column.l-100
            p.title Juegos preferidos por nuestros clientes
        .subtitle-games.column.l-100
            p.subtitle Mira cuales son
        .slide-games.column.l-100
            .main-slide
                figure.box-image
                    img(src=require("../../img/audition-logo.png"), alt="audition")    
                figure.box-image
                    img(src=require("../../img/dota2-logo.png"), alt="dota2")    
                figure.box-image
                    img(src=require("../../img/csgo-logo.png"), alt="counter-Strike GO")    
                figure.box-image
                    img(src=require("../../img/rakion-logo.png"), alt="rakion")    
                figure.box-image
                    img(src=require("../../img/wolfteam-logo.png"), alt="wolfteam")    
                figure.box-image
                    img(src=require("../../img/l4d2-logo.png"), alt="left 4 dead 2")    
                figure.box-image
                    img(src=require("../../img/lol-logo.png"), alt="league of legends")    