.banner-enjoy#banner-enjoy
    .container
        .box-content-enjoy.column.l-100
            .content-child.l-100
                .enjoy-title.l-100
                    h2.banner-enjoy-title DISFRUTA CON NOSOTROS LOS MEJORES JUEGOS DEL MOMENTO Y MAS!
                .enjoy-box-games.l-100
                    figure.img-figure.l-25
                        img(src=require("../img/fortnite-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/l4d2.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/minecraft-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/csgo-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/dota2-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/lol-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/smite-logo.png"), alt="").img-enjoy
                    figure.img-figure.l-25
                        img(src=require("../img/starcraft2-logo.png"), alt="").img-enjoy
