.galery#galery
    .container
        .content-galery.column.l-100
            .content-galery-title.l-100   
                h1.galery-title Nuestra galería de fotos
            .content-img.l-100
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-1.jpg"), alt="").img-galery
                    //- span.icon-resize-full
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-2.jpg"), alt="").img-galery
                    //- span.icon-resize-full
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-6.jpg"), alt="").img-galery
                    //- span.icon-resize-full
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-7.jpg"), alt="").img-galery
                    //- span.icon-resize-full
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-8.jpg"), alt="").img-galery
                    //- span.icon-resize-full
                figure.figure-content.l-50.m-50.s-100
                    .opacity-style
                        img(src=require("../img/galery-9.jpg"), alt="").img-galery
                    //- span.icon-resize-full